.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 50px;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  width: 55%;
	padding: 16px;
  font-size: 36px;
  font-style: italic;
}

.movies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img {
  max-height: 300px;
}

.heading {
	font-size: 40px;
	color: rgb(226, 226, 226);
  text-align: center;
  padding-top: 100px;
  margin-top: 0;
}

.fa-search {
	position: relative;
	color: #555;
	right: 40px;
}

.App {
  text-align: center;
  padding-top: 2rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
}

.button-default {
  color: #fff;
}

.fa-thumbs-up {
  cursor: pointer;
}

.fa-thumbs-down {
  cursor: pointer
}

.thumbs-up{
  background-color: #8df5c1;
  border-radius: 10px;
  width: 70px;
  cursor: pointer;
  align-items: center;

}

.thumbs-down{
  background-color: #ff9191;
  border-radius: 10px;
  width: 70px;
  cursor: pointer;
  align-items: center;

}

table{
  margin: auto;
  justify-content: center;
  align-items: center;
}

.thumb-rating{
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
  border-radius: 10px;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}