.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 50px;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  width: 55%;
	padding: 16px;
  font-size: 36px;
  font-style: italic;
}

.movies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img {
  max-height: 300px;
}

.heading {
	font-size: 40px;
	color: rgb(226, 226, 226);
  text-align: center;
  padding-top: 100px;
  margin-top: 0;
}

.search-icon {
	position: relative;
	top: -10px;
	font-size: 30px;
	color: #555;
	right: 40px;
}