.movie {
    border-radius: 10px;
    box-shadow: 0px 5px 20px gray;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(238, 237, 237);
    align-items: center;
    min-width: 40%;
    }

.container {
    position: relative;
    }
    
.image {
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer
    }

.container:hover .image {
    opacity: 0.3;
    }
    
    